$black: #000000;
$white: #ffffff;
$red: #ea2d30;
$primary: #3769f1;
$primaryLight: #dcf4f0;
$textPrimary: #101828;
$yellowDark: #fdb71d;
$yellowLight: #ffdd94;
$redLight: #fab7b8;
$greenDark: #04BFA4;
$greenLight: #dcf4f0;

