.input-wrapper{
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    flex: 1;
    .input-label{
        font-size: 0.875rem;
        font-weight: 500;
        line-height: 1.5rem;
        color: #101828;
    }
    .MuiInputBase-root {
    max-height: 40px;
  }
}