@import "../../helpers/variables.scss";
.request-detail-modal {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1.25rem 0;

  .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 0 1.25rem;
    font-family: "Montserrat";
    border-bottom: 1px solid #667085;
  }
  .raised-details {
    display: flex;
    padding: 0 1.25rem;
    flex-direction: column;
    border-bottom: 1px solid #667085;
    .hint {
      font-weight: 600;
    }
    span {
      font-weight: 500;
    }
    .details {
      display: flex;
      justify-content: space-between;
    }
  }
  .previous-comments {
    display: flex;
    padding: 0 1.25rem;
    gap: 1rem;
    align-items: center;
    .blue {
      background-color: $primary;
      color: white;
    }
    .text {
      font-size: 0.875rem;
      color: #667085;
    }
  }
  .footer {
    display: flex;
    padding: 0 1.25rem;
    align-self: flex-end;
    gap: 1.5rem;
    .approve {
      background-color: $greenDark;
      color: $white;
    }
    .reject {
      background-color: $red;
      color: $white;
    }
  }
}
